.fade-in_position_right {
  transform: translateX(50%);
  transition: opacity 150ms ease-in, transform 300ms ease-in;
  opacity: 0;
}

.fade-in_position_right.appear {
  transform: translateX(0);
  opacity: 1;
}
