.footer__checkbox-text {
  @include button-text-md;
  font-weight: $fw-primary;
  color: $color-white;
  text-transform: none;
  padding-left: 8px;
  max-width: 95.429%;
  letter-spacing: 0.1px;
  grid-column: 2/4;
  grid-row: 2/3;
  transition: opacity 0.5s ease-in;
}

.footer__checkbox-text:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1328px) {
  .footer__checkbox-text {
    @include button-text-sm;
    max-width: 93.417%;
  }
}

@media screen and (max-width: 650px) {
  .footer__checkbox-text {
    @include button-text-sm;
    max-width: 248px;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
