.footer__icon {
  appearance: none;
  @include icon;
  @include icon-sm;
  grid-column: 1/2;
  grid-row: 2/3;
  transition: opacity 0.5s ease-in;
}

.footer__icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 650px) {
  .footer__icon {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
