.about {
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 450px) {
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
