.looks-grid__container {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(4, minmax(25%, 25%));
  grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 1039px) {
  .looks-grid__container {
    grid-template-columns: repeat(3, minmax(25%, 33.334%));
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .looks-grid__container {
    grid-template-columns: repeat(2, minmax(50%, 50%));
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
