.footer__input {
  @include text-sm;
  color: $color-hover-menu;
  box-sizing: border-box;
  text-align: left;
  background-color: $color-dark;
  padding: 12px 24px;
  width: 100%;
  outline: 0.5px solid $color-hover-menu;
  border-bottom: none;
}

.footer__input:focus {
  background-color: $color-hover-menu;
  color: $color-dark;
  outline: $color-dark;
}

.footer__input:focus::placeholder {
  color: $color-dark;
}

.footer__input:invalid {
  background-image: url(../../../images/red_cross.svg);
  background-repeat: no-repeat;
  background-position: 98% center;
}

@media screen and (max-width: 450px) {
  .footer__input {
    text-align: center;
    padding: 10px 48px;
  }
}
