//анимация слева
.rotation__fade-in {
  transform: translateX(-50%);
  transition: opacity 150ms ease-in, transform 300ms ease-in;
  opacity: 0;
  transform: scale(1.2);
}

.rotation__fade-in.appear {
  transform: translateX(0);
  opacity: 1;
}

