.footer__form-container {
  border: none;
  margin: 0;
  padding: 40px 0 0;
  width: 50%;
}

@media screen and (max-width: 1039px) {
  .footer__form-container {
    width: 66.668%;
    padding-top: 38px;
  }
}

@media screen and (max-width:450px) {
  .footer__form-container {
    width: 100%;
    padding-top: 38px;
  }
}
